<!-- <div class="container pt-4">
  <div class="row">
    <div class="header mb-2">
      <p class="text-secondary h6">Breakout Strategy</p>
    </div>
    <hr />
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row my-3 row-cols-6">
      <div class="col mb-2">
        <app-text-input
          type="text"
          [parentForm]="form"
          fieldName="user"
          label="User"
          formControlName="user"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="text"
          [parentForm]="form"
          fieldName="id"
          label="Id"
          formControlName="id"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-select-input
          type="text"
          [parentForm]="form"
          fieldName="strategy"
          label="Strategy"
          formControlName="strategy"
          [items]="strategies"
        ></app-select-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="text"
          [parentForm]="form"
          fieldName="instrument"
          label="Instrument"
          formControlName="instrument"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="quantity"
          label="Quantity"
          formControlName="quantity"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-switch-input
          [parentForm]="form"
          fieldName="paperTrade"
          label="Paper Trade"
          formControlName="paperTrade"
        ></app-switch-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="text"
          [parentForm]="form"
          fieldName="broker"
          label="Broker"
          formControlName="broker"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-select-input
          type="text"
          [parentForm]="form"
          fieldName="status"
          label="Status"
          formControlName="status"
          [items]="status"
        ></app-select-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="text"
          [parentForm]="form"
          fieldName="label"
          label="Label"
          formControlName="label"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="datetime-local"
          [parentForm]="form"
          fieldName="startTime"
          label="Start Time"
          formControlName="startTime"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="datetime-local"
          [parentForm]="form"
          fieldName="endTime"
          label="End Time"
          formControlName="endTime"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="pl"
          label="PL"
          formControlName="pl"
        ></app-text-input>
      </div>
    </div>
    <div class="row my-4">
      <div class="col  mb-2">
        <app-select-input
          [parentForm]="form"
          fieldName="segment"
          label="Segment"
          formControlName="segment"
          [items]="segments"
        ></app-select-input>
      </div>
      <div class="col  mb-2">
        <app-select-input
          [parentForm]="form"
          fieldName="expiry"
          label="Expiry"
          formControlName="expiry"
          [items]="expiry"
        ></app-select-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="date"
          [parentForm]="form"
          fieldName="expiryDate"
          label="ExpiryDate"
          formControlName="expiryDate"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-select-input
          type="text"
          [parentForm]="form"
          fieldName="optionType"
          label="Option Type"
          formControlName="optionType"
          [items]="optionType"
        ></app-select-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="additionalATMPoints"
          label="Additional Points"
          formControlName="additionalATMPoints"
        ></app-text-input>
      </div>
    </div>
    <div class="row my-3">
      <div class="col  mb-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="high"
          label="High"
          formControlName="high"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="low"
          label="Low"
          formControlName="low"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="timeFrame"
          label="Time Frame"
          formControlName="timeFrame"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="period"
          label="Period"
          formControlName="period"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="noOfEntries"
          label="Entries#"
          formControlName="noOfEntries"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-text-input
          type="number"
          [parentForm]="form"
          fieldName="stopLossHits"
          label="Stop Loss Hits"
          formControlName="stopLossHits"
        ></app-text-input>
      </div>
      <div class="col  mb-2">
        <app-switch-input
          [parentForm]="form"
          fieldName="buy"
          label="Buy MA"
          formControlName="buy"
        ></app-switch-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" [disabled]="form.invalid">
          Create Strategy
        </button>
      </div>
    </div>
  </form>
</div> -->
