<label [for]="fieldName" class="form-check-label col-lg-4 text-end">{{ label }}</label>
<div class="col-lg-8 mx-lg-3  form-check form-switch">
  <input
    class="form-check-input  border border-secondary rounded"
    type="checkbox"
    role="switch"
    [name]="fieldName"
    [id]="fieldName"
    [checked]="value"
    [disabled]="isDisabled"
    (input)="onChange($event)"
  />
</div>
