<div class="container">
  <div class="row justify-content-end">
    <div class="col-lg">
      <div class="text-secondary h6">Short Strangle Strategy Details</div>
    </div>
    <div class="col-lg text-end">
      <a routerLink="/strategies" class="btn btn-outline-secondary btn-sm mx-1"
        >Back</a
      >
    </div>
  </div>
  <hr />

  <div class="app-strategy"
    [data] = "data"
  >
</div>
  <hr/>
  <div class="short-strangle-detail">
    <div class="row mb-3">
      <div class="col text-muted">
        Entry Type :
        <span class="text-dark"> {{ data.entrySelectionType }} </span>
      </div>

      <div class="col text-muted">
        Call Strike Price :
        <span class="text-dark"> {{ data.callStrikePrice }} </span>
      </div>

      <div class="col text-muted">
        Put Strike Price :
        <span class="text-dark"> {{ data.putStrikePrice }} </span>
      </div>

      <div class="col text-muted">
        Call Premium : <span class="text-dark"> {{ data.callPremium }} </span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col text-muted">
        Put Premium : <span class="text-dark"> {{ data.putPremium }} </span>
      </div>

      <div class="col text-muted">
        Daily Start Time :
        <span class="text-dark"> {{ data.dailyStartTime }} </span>
      </div>

      <div class="col text-muted">
        Daily End Time :
        <span class="text-dark"> {{ data.dailyEndTime }} </span>
      </div>

      <div class="col text-muted">
        EOD Max Diff % :
        <span class="text-dark"> {{ data.eodMaxDiffPercentage }} </span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col text-muted">
        Adjustment Max Diff % :
        <span class="text-dark"> {{ data.adjustmentMaxDiffPercentage }} </span>
      </div>

      <div class="col text-muted">
        Min Adjustment % :
        <span class="text-dark"> {{ data.minAdjustmentPercentage }} </span>
      </div>

      <div class="col text-muted">
        Straddle Adj Type :
        <span class="text-dark"> {{ data.straddleAdjustmentType }} </span>
      </div>

      <div class="col text-muted">
        Stoploss Premium :
        <span class="text-dark"> {{ data.stoplossPremium | number : '1.1-1'}} </span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col text-muted">
        Stop Loss Update Diff % :
        <span class="text-dark">
          {{ data.stoplossUpdateDiffPercentage }}
        </span>
      </div>

      <div class="col text-muted">
        Stop Loss Update % :
        <span class="text-dark"> {{ data.stoplossUpdatePercentage }} </span>
      </div>

      <div class="col text-muted">
        Total Premium :
        <span class="text-dark"> {{ data.totalPremium }} </span>
      </div>

      <div class="col text-muted">
        Call SL Strike Price :
        <span class="text-dark"> {{ data.callStopLossStrikePrice }} </span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col text-muted">
        Put SL Strike Price:
        <span class="text-dark"> {{ data.putStopLossStrikePrice }} </span>
      </div>

      <div class="col text-muted">
        Straddle Adjustment % :
        <span class="text-dark">
          {{ data.straddleAdjustmentPercentage }}
        </span>
      </div>

      <div class="col text-muted">
        Target Percentage :
        <span class="text-dark"> {{ data.targetPercentage }} </span>
      </div>
      <div class="col text-muted"></div>
    </div>
    <hr />
  </div>

  <div class="app-strategy-entry-list" [entries]="data.entries"></div>
  <hr/>
  <div class="app-strategy-log-list" [logs]="data.logs"></div>
</div>
 