<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <p class="text-secondary h6">Short Strangle Strategy</p>
      </div>
      <hr />
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="text"
        [parentForm]="form"
        fieldName="user"
        label="User"
        formControlName="user"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="text"
        [parentForm]="form"
        fieldName="id"
        label="Id"
        formControlName="id"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group app-select-input col-lg-5 d-lg-flex"
        type="text"
        [parentForm]="form"
        fieldName="instrument"
        label="Instrument"
        formControlName="instrument"
        [items]="instrumentsList"
        (changeEvent)="updateExpiryDates($event)"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="quantity"
        label="Quantity"
        formControlName="quantity"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group app-select-input col-lg-5 d-lg-flex"
        type="text"
        [parentForm]="form"
        fieldName="status"
        label="Status"
        formControlName="status"
        [items]="statusList"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="frequency"
        label="Frequency"
        formControlName="frequency"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="text"
        [parentForm]="form"
        fieldName="label"
        label="Label"
        formControlName="label"
      ></div>
      <div
        class="form-group app-switch-input col-lg-5 d-lg-flex"
        fieldName="paperTrade"
        label="Paper Trade"
        formControlName="paperTrade"
        [parentForm]="form"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="pl"
        label="PL"
        formControlName="pl"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="text"
        [parentForm]="form"
        fieldName="broker"
        label="Broker"
        formControlName="broker"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group app-select-input col-lg-5 d-lg-flex"
        type="text"
        [parentForm]="form"
        fieldName="expiry"
        label="Expiry"
        formControlName="expiry"
        [items]="expiryList"
      ></div>
      <div
        class="form-group app-select-input col-lg-5 d-lg-flex"
        type="select"
        [parentForm]="form"
        fieldName="expiryDate"
        label="Expiry Date"
        formControlName="expiryDate"
        [items]="expiryDatesList"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="datetime-local"
        [parentForm]="form"
        fieldName="startTime"
        label="Start Time"
        formControlName="startTime"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="datetime-local"
        [parentForm]="form"
        fieldName="endTime"
        label="endTime"
        formControlName="endTime"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="target"
        label="Target"
        formControlName="target"
      ></div>
      <div
        class="form-group app-switch-input col-lg-5 d-lg-flex"
        [parentForm]="form"
        fieldName="logsEnabled"
        label="Enable Logs"
        formControlName="logsEnabled"
      ></div>
    </div>

    <hr />

    <div class="row mb-lg-3">
      <div
        class="form-group app-select-input col-lg-5 d-lg-flex"
        type="select"
        [parentForm]="form"
        fieldName="entrySelectionType"
        label="Entry Selection"
        formControlName="entrySelectionType"
        [items]="entrySelectionTypeList"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="callStrikePrice"
        label="Call Strike Price"
        formControlName="callStrikePrice"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="putStrikePrice"
        label="Put Strike Price"
        formControlName="putStrikePrice"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="callPremium"
        label="Call Premium"
        formControlName="callPremium"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="putPremium"
        label="Put Premium"
        formControlName="putPremium"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="time"
        [parentForm]="form"
        fieldName="dailyStartTime"
        label="Daily Start Time"
        formControlName="dailyStartTime"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="time"
        [parentForm]="form"
        fieldName="dailyEndTime"
        label="Daily End Time"
        formControlName="dailyEndTime"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="eodMaxDiffPercentage"
        label="EOD Max Diff %"
        formControlName="eodMaxDiffPercentage"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="adjustmentMaxDiffPercentage"
        label="Adjustment Max Diff %"
        formControlName="adjustmentMaxDiffPercentage"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="minAdjustmentPercentage"
        label="Min Adjustment %"
        formControlName="minAdjustmentPercentage"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group app-select-input col-lg-5 d-lg-flex"
        type="select"
        [parentForm]="form"
        fieldName="straddleAdjustmentType"
        label="Straddle Adjustment Type"
        formControlName="straddleAdjustmentType"
        [items]="straddleAdjustmentType"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="stoplossPremium"
        label="Stop Loss Premium"
        formControlName="stoplossPremium"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="stoplossUpdateDiffPercentage"
        label="Stop Loss Update Diff %"
        formControlName="stoplossUpdateDiffPercentage"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="stoplossUpdatePercentage"
        label="Stop Loss Update %"
        formControlName="stoplossUpdatePercentage"
      ></div>
    </div>

    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="totalPremium"
        label="Straddle Total Premium "
        formControlName="totalPremium"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="callStopLossStrikePrice"
        label="Call SL Strike Price"
        formControlName="callStopLossStrikePrice"
      ></div>
    </div>
    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="putStopLossStrikePrice"
        label="Put SL Strike Price"
        formControlName="putStopLossStrikePrice"
      ></div>
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="straddleAdjustmentPercentage"
        label="Straddle Adjustment %"
        formControlName="straddleAdjustmentPercentage"
      ></div>
    </div>
    <div class="row mb-lg-3">
      <div
        class="form-group text-input col-lg-5 d-lg-flex"
        type="number"
        [parentForm]="form"
        fieldName="targetPercentage"
        label="Target Percentage"
        formControlName="targetPercentage"
      ></div>
    </div>

    <hr />

    <div class="row mb-lg-3">
      <div class="col-lg-8"></div>
      <div class="col-lg-2 d-flex justify-content-end p-0">
        <button class="btn btn-primary" [disabled]="form.invalid">
          Create Strategy
        </button>
      </div>
    </div>
    <hr />
  </form>
</div>
