<label [for]="fieldName" class="col-form-label-sm col-lg-4 text-end">{{ label }}</label>
<div  class="col-lg-8 mx-lg-3">
  <select
    [name]="fieldName"
    [id]="fieldName"
    class="form-select form-select-sm  border border-secondary rounded"
    (input)="onChange($event)"
    [disabled]="isDisabled"
    [value]="value"
  >
    <option *ngFor="let item of items" value="{{ item.value }}" [selected]="item.value === value || item.selected">
      {{ item.key }}
    </option>
  </select>
</div>

<app-field-error [formField]="formField"></app-field-error>
