<label [for]="fieldName" class="col-form-label-sm col-lg-4 text-end">{{ label }}</label>
<div class="col-lg-8 mx-lg-3">
  <input
    [type]="type"
    class="form-control form-control-sm border border-secondary rounded"
    [value]="value"
    (input)="onChange($event)"
    [disabled]="isDisabled"
    [name]="fieldName"
    [id]="fieldName"
  />
  <app-field-error [formField]="formField"></app-field-error>
</div>
