<div class="strategy-detail">
  <div class="row mb-3">
    <div class="col text-muted">
      Id : <span class="text-dark"> {{ data.id }} </span>
    </div>

    <div class="col text-muted">
      Instrument :
      <span class="text-dark"> {{ data.instrument.name }} </span>
    </div>

    <div class="col text-muted">
      Status : <span class="text-dark"> {{ data.status }} </span>
    </div>

    <div class="col text-muted">
      Profit/Loss : @if( data.pl > 0) {
      <span class="text-success"> {{ data.pl }} </span>
      } @else if( data.pl < 0){
      <span class="text-danger"> {{ data.pl }} </span>
      } @else {
      <span> {{ data.pl }} </span>
      }
    </div>
  </div>

  <div class="row mb-3">
    <div class="col text-muted">
      Quantity : <span class="text-dark"> {{ data.quantity }} </span>
    </div>

    <div class="col text-muted">
      Segment :
      <span class="text-dark"> {{ data.segment }} </span>
    </div>

    <div class="col text-muted">
      Frequency : <span class="text-dark"> {{ data.frequency }} </span>
    </div>

    <div class="col text-muted">
      Label : <span class="text-dark"> {{ data.label }} </span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col text-muted">
      Paper Trade : <span class="text-dark"> {{ data.paperTrade }} </span>
    </div>

    <div class="col text-muted">
      Broker :
      <span class="text-dark">
        {{ data.broker.id }} | {{ data.broker.broker }}
      </span>
    </div>

    <div class="col text-muted">
      Expiry : <span class="text-dark"> {{ data.expiry }} </span>
    </div>

    <div class="col text-muted">
      Expiry Date : <span class="text-dark"> {{ data.expiryDate }} </span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col text-muted">
      Option Type : <span class="text-dark"> {{ data.optionType }} </span>
    </div>

    <div class="col text-muted">
      Target : <span class="text-dark"> {{ data.target }} </span>
    </div>

    <div class="col text-muted">
      Logs Enabled : <span class="text-dark"> {{ data.logsEnabled }} </span>
    </div>
    <div class="col text-muted">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col text-muted">
      Start Time :
      <span class="text-dark"> {{ data.startTime }} </span>
    </div>

    <div class="col text-muted">
      End Time : <span class="text-dark"> {{ data.endTime }} </span>
    </div>
  </div>
</div>
