<div class="entries border-dark">
  <div class="row entries-title fw-bold mb-3">Positions</div>
  <div class="header row bg-secondary text-light">
    <div class="col-1">Id</div>
    <div class="col-2">Created</div>
    <div class="col-2">Modified</div>
    <div class="col-1">Strike Price</div>
    <div class="col-1">Type</div>
    <div class="col-1">Entry Price</div>
    <div class="col-1">Exit Price</div>
    <div class="col-1">Ltp</div>
    <div class="col-1">PL</div>
    <div class="col-1">Status</div>
  </div>
  @for (item of entries; track $index) {
  <div class="value row my-3 {{ item.status == 'Closed' ? 'text-secondary' : ''}}">
    <div class="col-1">{{ item.id }}</div>
    <div class="col-2">{{ item.createdTime }}</div>
    <div class="col-2">{{ item.modifiedTime }}</div>
    <div class="col-1">{{ item.strikePrice }} {{ item.optionType }}</div>
    <div class="col-1">{{ item.side }}</div>
    <div class="col-1">{{ item.entry }}</div>
    <div class="col-1">{{ item.exit }}</div>
    <div class="col-1">{{ item.ltp }}</div>
    <div class="col-1">
      @if(item.pl > 0 ) {
      <span class="text-success">{{ item.pl }}</span>
      } @else if (item.pl < 0 ) {
      <span class="text-danger">{{ item.pl }}</span>
      } @else {
      <span>{{ item.pl }}</span>
      }
    </div>
    <div class="col-1">{{ item.status }}</div>
  </div>
  }
</div>
