<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <p class="text-secondary h6">Strategies</p>
      </div>
      <hr />
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="me-3">
      <label for="status">Status : </label>
    </div>
    <div class="">
      <select
        class="form-select form-select-sm"
        aria-label=".form-select-sm example"
        (click)="updateStatus($event)"
        id="status"
      >
        @for (item of statusList; track $index) {
        <option [selected]="item.value === status" [value]="item.value">
          {{ item.key }}
        </option>
        }
      </select>
    </div>
  </div>
  <hr />

  <div class="row">
    @if(!pagedStrategies?.items?.length) {
    <div class="text-center">No results found</div>
    } @for (item of pagedStrategies?.items; track $index) {
    <div class="card my-1 p-0">
      <div class="card-header d-flex justify-content-between">
        <a
          class="fw-bolder col"
          routerLink="/strategies/{{ item.strategy }}/{{ item.id }}"
          ># {{ item.id }}</a
        >
        <span class="d-none d-md-block col">{{ item.strategy }}</span>
        <span class="d-none d-md-block col">{{ item.instrument.name }}</span>
        @if (status == '') {
        <span class="d-none d-md-block col">{{ item.status }}</span>
        }
        <span
          *ngIf="item.pl > 0"
          class="text-success fw-bold col text-center"
          >{{ item.pl }}</span
        >
        <span *ngIf="item.pl < 0" class="text-danger fw-bold col text-center">{{
          item.pl
        }}</span>
        <span *ngIf="item.pl == 0" class="col text-center">{{ item.pl }}</span>
        <div class="col text-end">
          <!-- Start Button-->
          @if(!item.jobStatus && (item.status == "New" || item.status ==
          "Running")) {
          <a
            class="btn btn-outline-secondary btn-sm mx-1"
            (click)="startStrategy(item.id)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-play-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
              <path
                d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"
              />
            </svg>
          </a>
          }

          <!-- Stop Button -->
          @if (item.jobStatus) {
          <a
            class="btn btn-outline-secondary btn-sm mx-1"
            (click)="stopStrategy(item.id)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-stop-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
              <path
                d="M5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5z"
              />
            </svg>
          </a>

          }

          <!-- Delete Button-->
          <button
            class="btn btn-outline-secondary btn-sm mx-1"
            (click)="deleteStrategy(item)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<router-outlet />
