<div
  class="offcanvas offcanvas-start sidebar-nav bg-white"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Hello..</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav nav-pills flex-column nav-fill">
      <div class="section my-3">
        <div>View</div>
        <li class="">
          <a routerLink="/strategies" class="nav-link"> Strategies </a>
        </li>
      </div>
      <div class="section">
        <div>Create Strategy</div>
        <li class="">
          <a
            routerLink="/strategies/create/short-strangle-strategy"
            class="nav-link"
          >
            Short Strangle
          </a>
        </li>
        <li class="">
          <a
            routerLink="/strategies/create/short-straddle-strategy"
            class="nav-link"
          >
            Short Staddle
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>
