.sidebar-nav {
    width: var(--offcanvas-width);
}

@media (min-width:992px) {
        
    .sidebar-nav {
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - --topNavbarHeight);
    }

    .offcanvas-header {
        display: none;
    }
    
}