<div class="container">
  <div class="row justify-content-end">
    <div class="col-lg">
      <div class="text-secondary h6">Short Straddle Strategy Details</div>
    </div>
    <div class="col-lg text-end">
      <a routerLink="/strategies" class="btn btn-outline-secondary btn-sm mx-1"
        >Back</a
      >
    </div>
  </div>
  <hr />

  <div class="app-strategy" [data]="data"></div>
  <hr />
  <div class="short-strangle-detail">
    <div class="row mb-3">
      <div class="col text-muted">
        Adjustment Type :
        <span class="text-dark"> {{ data.adjustmentType }} </span>
      </div>

      <div class="col text-muted">
        Adjustment % :
        <span class="text-dark"> {{ data.adjustmentPercentage }} </span>
      </div>

      <div class="col text-muted">
        Call SL StrikePrice :
        <span class="text-dark"> {{ data.callStopLossStrikePrice }} </span>
      </div>

      <div class="col text-muted">
        Put SL StrikePrice :
        <span class="text-dark"> {{ data.putStopLossStrikePrice }} </span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col text-muted">
        Call Stop Loss % :
        <span class="text-dark"> {{ data.callStopLossPercentage }} </span>
      </div>

      <div class="col text-muted">
        Put Stop Loss % :
        <span class="text-dark"> {{ data.putStopLossPercentage }} </span>
      </div>

      <div class="col text-muted">
        Call Stop Loss Premium :
        <span class="text-dark"> {{ data.callStopLossPremium }} </span>
      </div>

      <div class="col text-muted">
        Put Stop Loss Premium:
        <span class="text-dark"> {{ data.putStopLossPremium }} </span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col text-muted">
        Buffer SL StrikePrice :
        <span class="text-dark"> {{ data.bufferStopLossForStrikePrice }} </span>
      </div>

      <div class="col text-muted">
        Max PL :
        <span class="text-dark"> {{ data.maxPL }} </span>
      </div>

      <div class="col text-muted">
        Max Diff Adjustment % :
        <span class="text-dark"> {{ data.maxDiffAdjustmentPercentage }} </span>
      </div>

      <div class="col text-muted">
        Target % :
        <span class="text-dark">
          {{ data.targetPercentage | number : "1.1-1" }}
        </span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col text-muted">
        Daily Start Time :
        <span class="text-dark">
          {{ data.dailyStartTime }}
        </span>
      </div>
    </div>

    <div class="app-strategy-entry-list" [entries]="data.entries"></div>
    <hr />
    <div class="app-strategy-log-list" [logs]="data.logs"></div>
  </div>
</div>
