<div class="logs">
  <div class="logs-title fw-bold mb-3">Logs</div>
  @for (log of logs; track $index) {
  <div class="card my-2">
    <div class="card-header d-flex justify-content-between fw-light">
      <div class="log-time">{{ log.createdTime }}</div>
      <div class="log-type">
        {{ log.type == 'NA' ? '' : log.type }}
      </div>
      <div class="log-id"># {{ log.id }}</div>
    </div>

    <div class="card-body">
      <p class="card-text">
        {{ log.message }}
      </p>
    </div>
  </div>
  }
</div>
