<div class="container">
    <div class="row">
      <div class="col">
        <div class="header">
          <p class="text-secondary h6">Short Straddle Strategy</p>
        </div>
        <hr />
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="text"
          [parentForm]="form"
          fieldName="user"
          label="User"
          formControlName="user"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="text"
          [parentForm]="form"
          fieldName="id"
          label="Id"
          formControlName="id"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group app-select-input col-lg-5 d-lg-flex"
          type="text"
          [parentForm]="form"
          fieldName="instrument"
          label="Instrument"
          formControlName="instrument"
          [items]="instrumentsList"
          (changeEvent)="updateExpiryDates($event)"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="quantity"
          label="Quantity"
          formControlName="quantity"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group app-select-input col-lg-5 d-lg-flex"
          type="text"
          [parentForm]="form"
          fieldName="status"
          label="Status"
          formControlName="status"
          [items]="statusList"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="frequency"
          label="Frequency"
          formControlName="frequency"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="text"
          [parentForm]="form"
          fieldName="label"
          label="Label"
          formControlName="label"
        ></div>
        <div
          class="form-group app-switch-input col-lg-5 d-lg-flex"
          fieldName="paperTrade"
          label="Paper Trade"
          formControlName="paperTrade"
          [parentForm]="form"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="pl"
          label="PL"
          formControlName="pl"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="text"
          [parentForm]="form"
          fieldName="broker"
          label="Broker"
          formControlName="broker"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group app-select-input col-lg-5 d-lg-flex"
          type="text"
          [parentForm]="form"
          fieldName="expiry"
          label="Expiry"
          formControlName="expiry"
          [items]="expiryList"
        ></div>
        <div
          class="form-group app-select-input col-lg-5 d-lg-flex"
          type="date"
          [parentForm]="form"
          fieldName="expiryDate"
          label="Expiry Date"
          formControlName="expiryDate"
          [items]="expiryDatesList"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="datetime-local"
          [parentForm]="form"
          fieldName="startTime"
          label="Start Time"
          formControlName="startTime"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="datetime-local"
          [parentForm]="form"
          fieldName="endTime"
          label="endTime"
          formControlName="endTime"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="target"
          label="Target"
          formControlName="target"
        ></div>
        <div
          class="form-group app-switch-input col-lg-5 d-lg-flex"
          [parentForm]="form"
          fieldName="logsEnabled"
          label="Enable Logs"
          formControlName="logsEnabled"
        ></div>
      </div>
  
      <hr />
  
      <div class="row mb-lg-3">
        <div
          class="form-group app-select-input col-lg-5 d-lg-flex"
          type="select"
          [parentForm]="form"
          fieldName="adjustmentType"
          label="Adjustment Type"
          formControlName="adjustmentType"
          [items]="straddleAdjustmentType"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="adjustmentPercentage"
          label="Adjustment %"
          formControlName="adjustmentPercentage"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="callStopLossStrikePrice"
          label="Call SL Strike Price"
          formControlName="callStopLossStrikePrice"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="putStopLossStrikePrice"
          label="Put SL Strike Price"
          formControlName="putStopLossStrikePrice"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="callStopLossPercentage"
          label="Call Stop Loss %"
          formControlName="callStopLossPercentage"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="putStopLossPercentage"
          label="Put Stop Loss %"
          formControlName="putStopLossPercentage"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="callStopLossPremium"
          label="Call SL Premium"
          formControlName="callStopLossPremium"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="putStopLossPremium"
          label="Put SL Premium"
          formControlName="putStopLossPremium"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="bufferStopLossForStrikePrice"
          label="Buffer SL Strike Price"
          formControlName="bufferStopLossForStrikePrice"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="maxPL"
          label="Max PL"
          formControlName="maxPL"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="maxDiffAdjustmentPercentage"
          label="Max Diff Adj %"
          formControlName="maxDiffAdjustmentPercentage"
        ></div>
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="number"
          [parentForm]="form"
          fieldName="targetPercentage"
          label="Target %"
          formControlName="targetPercentage"
        ></div>
      </div>
  
      <div class="row mb-lg-3">
        <div
          class="form-group text-input col-lg-5 d-lg-flex"
          type="text"
          [parentForm]="form"
          fieldName="dailyStartTime"
          label="Daily Start Time"
          formControlName="dailyStartTime"
        ></div>
        
      </div>
  
      <hr />
  
      <div class="row mb-lg-3">
        <div class="col-lg-8"></div>
        <div class="col-lg-2 d-flex justify-content-end p-0">
          <button class="btn btn-primary" [disabled]="form.invalid">
            Create Strategy
          </button>
        </div>
      </div>
      <hr />
    </form>
  </div>
  